In [161]:
#Task 1: Data Preparation
# "You will start by loading the CSV data from the file (using appropriate pandas functions) and checking whether the loaded data is equivalent to the data in the source CSV file.
# Then, you need to clean the data by using the knowledge we taught in the lectures. You need to deal with all the potential issues/errors in the data appropriately (such as: typos, extra whitespaces, sanity checks for impossible values, and missing values etc). "

# Please structure code as follows: 
# always provide one line of comments to explain the purpose of the code, e.g. load the data, checking the equivalent to original data, checking typos (do this for each other types of errors)

#Code goes after this line by adding cells

In [162]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [163]:
starwar = pd.read_csv(r'C:/Users/new/Desktop/Practice data science/StarWars.csv', encoding='ISO-8859-1')

In [164]:
starwar.dtypes

RespondentID                                                                                                                                     float64
Have you seen any of the 6 films in the Star Wars franchise?                                                                                      object
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                             object
Which of the following Star Wars films have you seen? Please select all that apply.                                                               object
Unnamed: 4                                                                                                                                        object
Unnamed: 5                                                                                                                                        object
Unnamed: 6                                                                                                                                        object
Unnamed: 7                                                                                                                                        object
Unnamed: 8                                                                                                                                        object
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.     object
Unnamed: 10                                                                                                                                       object
Unnamed: 11                                                                                                                                       object
Unnamed: 12                                                                                                                                       object
Unnamed: 13                                                                                                                                       object
Unnamed: 14                                                                                                                                       object
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                    object
Unnamed: 16                                                                                                                                       object
Unnamed: 17                                                                                                                                       object
Unnamed: 18                                                                                                                                       object
Unnamed: 19                                                                                                                                       object
Unnamed: 20                                                                                                                                       object
Unnamed: 21                                                                                                                                       object
Unnamed: 22                                                                                                                                       object
Unnamed: 23                                                                                                                                       object
Unnamed: 24                                                                                                                                       object
Unnamed: 25                                                                                                                                       object
Unnamed: 26                                                                                                                                       object
Unnamed: 27                                                                                                                                       object
Unnamed: 28                                                                                                                                       object
Which character shot first?                                                                                                                       object
Are you familiar with the Expanded Universe?                                                                                                      object
Do you consider yourself to be a fan of the Expanded Universe?                                                                                    object
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                  object
Gender                                                                                                                                            object
Age                                                                                                                                               object
Household Income                                                                                                                                  object
Education                                                                                                                                         object
Location (Census Region)                                                                                                                          object
dtype: object

In [165]:
starwar.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [166]:
print(len(starwar.columns))
starwar.columns

38

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [167]:
starwar.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RespondentID,1186.0,3.290128e+09,1.055639e+06,3.288373e+09,3.289451e+09,3.290147e+09,3.290814e+09,3.292880e+09

In [168]:
#check for null values
starwar["RespondentID"].isnull().sum()

1

In [169]:
#Replace the null value
starwar = starwar[pd.notnull(starwar["RespondentID"])]

In [170]:
#check the null again
starwar["RespondentID"].isnull().sum()

0

In [171]:
starwar['Have you seen any of the 6 films in the Star Wars franchise?'].value_counts()

Yes     935
No      250
Yes       1
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

In [172]:
starwar['Have you seen any of the 6 films in the Star Wars franchise?'].isnull().sum()

0

In [173]:
starwar['Have you seen any of the 6 films in the Star Wars franchise?']=starwar['Have you seen any of the 6 films in the Star Wars franchise?'].str.strip()
starwar['Have you seen any of the 6 films in the Star Wars franchise?'].value_counts()

Yes    936
No     250
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

In [174]:
starwar['Do you consider yourself to be a fan of the Star Wars film franchise?'].isnull().sum()

350

In [175]:
starwar = starwar[pd.notnull(starwar["Do you consider yourself to be a fan of the Star Wars film franchise?"])]

In [176]:
starwar['Do you consider yourself to be a fan of the Star Wars film franchise?'].isnull().sum()

0

In [177]:
starwar['Do you consider yourself to be a fan of the Star Wars film franchise?'].value_counts()

Yes     551
No      283
Noo       1
Yess      1
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64

In [178]:
starwar['Do you consider yourself to be a fan of the Star Wars film franchise?'].replace('Noo','No').replace('Yess','Yes').value_counts()

Yes    552
No     284
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64

In [179]:
starwar['Which character shot first?'].isnull().sum()

8

In [180]:
starwar = starwar[pd.notnull(starwar["Which character shot first?"])]

In [181]:
starwar['Which character shot first?'].isnull().sum()

0

In [182]:
starwar['Which character shot first?'].value_counts()

Han                                 325
I don't understand this question    306
Greedo                              197
Name: Which character shot first?, dtype: int64

In [183]:
starwar['Are you familiar with the Expanded Universe?'].isnull().sum()

0

In [184]:
starwar['Are you familiar with the Expanded Universe?'].value_counts()

No     615
Yes    213
Name: Are you familiar with the Expanded Universe?, dtype: int64

In [185]:
starwar['Gender'].isnull().sum()

8

In [186]:
starwar = starwar[pd.notnull(starwar["Gender"])]

In [187]:
starwar['Gender'].isnull().sum()

0

In [188]:
starwar['Gender'].value_counts()

Male      423
Female    394
female      2
F           1
Name: Gender, dtype: int64

In [189]:
starwar['Gender']=starwar['Gender'].str.upper()

In [190]:
starwar['Gender'].replace('F','FEMALE').value_counts()

MALE      423
FEMALE    397
Name: Gender, dtype: int64

In [191]:
starwar['Age'].isnull().sum()

0

In [192]:
starwar['Age'].value_counts()

45-60    240
30-44    207
> 60     193
18-29    179
500        1
Name: Age, dtype: int64

In [193]:
starwar['Age'].replace('500','NaN').value_counts()

45-60    240
30-44    207
> 60     193
18-29    179
NaN        1
Name: Age, dtype: int64

In [194]:
starwar['Household Income'].isnull().sum()

145

In [195]:
starwar = starwar[pd.notnull(starwar["Household Income"])]

In [196]:
starwar['Household Income'].isnull().sum()

0

In [197]:
starwar["Household Income"].value_counts()

$50,000 - $99,999      238
$25,000 - $49,999      147
$100,000 - $149,999    115
$0 - $24,999            98
$150,000+               77
Name: Household Income, dtype: int64

In [198]:
starwar['Education'].isnull().sum()

1

In [199]:
starwar = starwar[pd.notnull(starwar["Education"])]

In [200]:
starwar['Education'].isnull().sum()

0

In [201]:
starwar["Education"].value_counts()

Bachelor degree                     223
Some college or Associate degree    210
Graduate degree                     186
High school degree                   54
Less than high school degree          1
Name: Education, dtype: int64

In [202]:
starwar['Location (Census Region)'].isnull().sum()

2

In [203]:
starwar = starwar[pd.notnull(starwar["Location (Census Region)"])]

In [204]:
starwar["Location (Census Region)"].value_counts()

Pacific               116
East North Central    109
South Atlantic        108
Middle Atlantic        72
West North Central     68
West South Central     63
Mountain               59
New England            50
East South Central     27
Name: Location (Census Region), dtype: int64

In [206]:
starwar.to_csv('starwarCheck.csv')

In [ ]:
# Task 2: Data Exploration
# 1. Explore the survey question: \textit{Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.	(Star Wars: Episode I  The Phantom Menace; Star Wars: Episode II  Attack of the Clones; Star Wars: Episode III  Revenge of the Sith;	Star Wars: Episode IV  A New Hope; Star Wars: Episode V The Empire Strikes Back; Star Wars: Episode VI Return of the Jedi)}, then analysis how people rate Star Wars Movies. 


#Code goes after this line by adding cells

In [ ]:
# Task 2: Data Exploration
# 2. Explore the relationships between columns; at least 3 visualisations with plausible hypothesis

#Code goes after this line by adding cells

In [ ]:
# Task 2: Data Exploration
# 3. Explore whether there are relationship between people's demographics (Gender, Age, Household Income, Education, Location) and their attitude to Start War characters. 

#Code goes after this line by adding cells